:root {
	--ease-elastic-out-3: cubic-bezier(0.5, 1.25, 0.75, 1.25);
	--ease-elastic-3: var(--ease-elastic-out-3);
	--ease-elastic-out-4: cubic-bezier(0.5, 1.5, 0.75, 1.25);
	--ease-elastic-4: var(--ease-elastic-out-4);
	--ease-3: cubic-bezier(0.25, 0, 0.3, 1);
	--ease-out-5: cubic-bezier(0, 0, 0, 1);
	--inline-space: clamp(1rem, 0.757rem + 1.036vw, 2rem);
	--section-padding-block: clamp(5rem, 3.938rem + 4.531vw, 9.375rem);
	--header-block-size: 61px;
	--font-dm-san: "DM Sans", sans-serif;
	--font-clash-display: "Clash Display";

	--brand-fill-hsl: 18 81% 42%;
	--brand-fill: hsl(18 81% 42%);
}

[data-theme="light"] {
	--surface-hsl: 0 0% 93%;
	--text-hsl: 0 0% 7%;
	--stroke-hsl: 0 0% 26%;

	--surface: hsl(0 0% 93%);
	--text: hsl(0 0% 7%);
	--stroke: hsl(0 0% 26%);
	--focus-color: hsl(245 100% 60%);
	--scrollbar-thumb-color: hsl(0 0% 38%);

	color-scheme: light;
}

[data-theme="dark"] {
	--surface-hsl: 0 0% 7%;
	--text-hsl: 0 0% 93%;
	--stroke-hsl: 0 0% 26%;

	--surface: hsl(0 0% 7%);
	--text: hsl(0 0% 93%);
	--stroke: hsl(0 0% 26%);
	--focus-color: hsl(228 100% 69%);
	--scrollbar-thumb-color: hsl(0 0% 67%);
	--scrollbar-thumb-hover-color: hsl(0 0% 44%);

	color-scheme: dark;
}

@supports selector(::-webkit-scrollbar) {
	::-webkit-scrollbar {
		inline-size: 16px;
	}

	::-webkit-scrollbar-thumb {
		background-color: var(--scrollbar-thumb-color);
		background-clip: content-box;
		border-radius: 1rem;
		border: 4px solid transparent;
	}

	::-webkit-scrollbar-thumb:hover {
		background-color: var(--scrollbar-thumb-hover-color, var(--scrollbar-thumb-color));
	}
}

::selection {
	background-color: var(--brand-fill);
	color: hsl(0 0% 100%);
}

:focus-visible {
	outline: 2px solid var(--text);
	outline-offset: 2px;
	border-radius: 1px;
}

body {
	max-inline-size: 1920px;
	padding-inline: var(--inline-space);
	margin-inline: auto;
	font-family: var(--font-dm-san);
	accent-color: var(--brand-fill);
	color: var(--text);
	background: var(--surface);
	text-rendering: optimizeSpeed;
	transition-property: color, background-color;
	transition-duration: 300ms;
}

h1,
h2,
h3,
h4 {
	font-family: var(--font-clash-display);
}

h2 {
	font-size: clamp(2.5rem, 2.136rem + 1.553vw, 4rem);
}

@media screen and (min-width: 768px) {
	main {
		margin-block-start: calc(var(--header-block-size) * -1);
	}
}

@media (prefers-reduced-motion: no-preference) {
	html {
		scroll-behavior: smooth;
	}
}
