---
import DresanAnimalogo from "~/components/SVG/DresanAnimalogo.astro"
import Layout from "~/layouts/Layout.astro"
---

<Layout title="404 — Página no encontrada" showFooter={false}>
	<DresanAnimalogo class="animalogo" />

	<div class="wrapper">
		<h1 class="title">404</h1>
		<p class="description">No se encontró la página 🫥</p>

		<a class="link" href="/">Volver al inicio</a>
	</div>
</Layout>

<!-- 250 24 18 -->
<!-- 150 20 16 -->

<style>
	.animalogo {
		position: fixed;
		inset-inline-end: 0;
		inset-block-start: 63%;
		z-index: -1;
		block-size: 45vh;
		inline-size: auto;
		opacity: 0.3;
		filter: grayscale(100%);
		transform: translateX(50%);
	}

	.wrapper {
		display: grid;
		justify-items: center;
		align-content: center;
		min-block-size: 100dvh;
	}

	.title {
		font-size: clamp(9.375rem, 7.858rem + 6.472vw, 15.625rem);
		line-height: 1;
	}

	.description {
		font-size: clamp(1.25rem, 1.189rem + 0.259vw, 1.5rem);
	}

	.link {
		padding: 12px 20px;
		margin-block-start: 12px;
		background-color: var(--text);
		color: var(--surface);
		border-radius: 4px;
		font-size: clamp(1rem, 0.97rem + 0.129vw, 1.125rem);
		font-weight: 500;
		transition:
			opacity 300ms,
			color 300ms,
			background-color 300ms;
	}

	.link:hover {
		opacity: 0.75;
	}

	@media screen and (max-width: 768px) {
		.wrapper {
			padding-block: 150px;
		}
	}
</style>
