---
import DresanAnimalogo from "~/components/SVG/DresanAnimalogo.astro"
import NoFooterLayout from "~/layouts/NoFooterLayout.astro"
---

<NoFooterLayout title="404 — Página no encontrada">
	<DresanAnimalogo class="animalogo" />

	<div class="wrapper">
		<h1 class="title">404</h1>
		<p class="description">No se encontró la página 🫥</p>

		<a class="link" href="/">Volver al inicio</a>
	</div>
</NoFooterLayout>

<style>
	.wrapper {
		display: grid;
		justify-items: center;
		align-content: center;
		min-block-size: 100dvh;
		margin-block-start: var(--inverted-wrapper-margin);
	}

	.title {
		font-size: clamp(9.375rem, 6.341rem + 12.945vw, 21.875rem);
		line-height: 1;
	}

	.description {
		font-size: clamp(1.25rem, 1.068rem + 0.777vw, 2rem);
	}

	.animalogo {
		position: fixed;
		inset-inline-end: 0;
		inset-block-start: 63%;
		z-index: -1;
		block-size: 45vh;
		inline-size: auto;
		opacity: 0.3;
		filter: grayscale(100%);
		transform: translateX(50%);
	}

	.link {
		padding: 12px 20px;
		margin-block-start: 12px;
		background-color: var(--text);
		color: var(--surface);
		border-radius: 8px;
		font-size: clamp(1rem, 0.879rem + 0.518vw, 1.5rem);
		font-weight: 500;
		transition: opacity 150ms;
	}

	.link:hover {
		opacity: 0.75;
	}

	@media screen and (max-width: 768px) {
		.wrapper {
			padding-block: 150px;
		}
	}
</style>
