---
import CloseIcon from "~/components/SVG/CloseIcon.astro"
import ContactForm from "./ContactForm.astro"
---

<div id="contact-modal" class="modal" tabindex="0">
	<div class="card">
		<div class="header">
			<h3>Contactar</h3>
			<button id="close-contact-modal" class="close-button" type="button">
				<CloseIcon />
			</button>
		</div>
		<ContactForm />
	</div>
</div>

<style>
	.modal {
		position: fixed;
		z-index: 10;
		inset: 0;
		display: none;
		block-size: 100dvh;
		padding: var(--header-block-size) 16px;
		background-color: hsl(var(--surface-hsl) / 0.5);
		backdrop-filter: blur(4px);
		overflow-y: auto;
		scrollbar-gutter: stable;
	}

	.modal.open {
		display: flex;
	}

	.card {
		max-inline-size: 600px;
		inline-size: 100%;
		padding: 30px;
		margin: auto;
		border: 2px solid var(--stroke);
		border-radius: 8px;
		background-color: var(--surface);
	}

	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-block-end: 32px;
	}

	h3 {
		font-size: 1.875rem;
	}

	@media (prefers-reduced-motion: no-preference) {
		.modal.open {
			animation: fade-in 300ms;
		}

		@keyframes fade-in {
			from {
				opacity: 0;
			}

			to {
				opacity: 1;
			}
		}
	}

	@media (hover: none) {
		.modal {
			scrollbar-width: thin;
		}
	}
</style>

<script>
	import { $ } from "~/utils"

	const closeContactModal = $("#close-contact-modal")!
	const contactModal = $("#contact-modal")!

	closeContactModal.addEventListener("click", () => {
		contactModal.classList.remove("open")
		document.body.classList.remove("hide-overflow")
	})
</script>
