<button class="button">Contactar</button>

<style>
	.button {
		--border-radius: 5px;
		position: relative;
		padding: 8px 20px;
		border: 1px solid var(--stroke);
		background-color: var(--surface);
		border-radius: var(--border-radius);
		transition-property: background-color, border-color;
		transition-duration: 300ms;
	}

	.button:hover {
		border-color: transparent;
	}

	.button:before {
		--size: calc(100% + 4px);
		content: "";
		position: absolute;
		inset-block-start: -2px;
		inset-inline-start: -2px;
		z-index: -1;
		block-size: var(--size);
		inline-size: var(--size);
		background-size: 400%;
		border-radius: var(--border-radius);
		opacity: 0;
		transition: opacity 300ms;
		animation: gradient-movement 20s linear infinite;
	}

	html[data-theme="dark"] .button:before {
		background-image: linear-gradient(
			45deg,
			var(--brand-fill),
			hsl(27, 100%, 50%),
			var(--brand-fill),
			hsl(103, 100%, 50%),
			hsl(170, 100%, 50%),
			hsl(0, 90%, 55%),
			hsl(269, 100%, 50%),
			hsl(313, 100%, 50%),
			var(--brand-fill)
		);
	}

	html[data-theme="light"] .button:before {
		background-image: linear-gradient(
			45deg,
			var(--brand-fill),
			hsl(37, 91%, 65%),
			var(--brand-fill),
			hsl(118, 81%, 37%),
			hsl(219, 98%, 39%),
			hsl(0, 100%, 55%),
			hsl(261, 55%, 61%),
			hsl(336, 82%, 57%),
			var(--brand-fill)
		);
	}

	.button:hover:before {
		opacity: 1;
	}

	@keyframes gradient-movement {
		from,
		to {
			background-position-x: 0;
		}

		50% {
			background-position-x: 400%;
		}
	}
</style>
