---
import DresanAnimalogo from "~/components/SVG/DresanAnimalogo.astro"
import NavMenu from "~/components/NavMenu.astro"
---

<header id="header" class="header">
	<a aria-label="Ir al inicio" href="/">
		<DresanAnimalogo class="animalogo" />
	</a>

	<NavMenu />
</header>

<style>
	.header {
		position: fixed;
		inset: 0;
		inset-block-end: unset;
		z-index: 10;
		display: flex;
		align-items: center;
		justify-content: space-between;
		block-size: var(--header-block-size);
		padding-inline: 24px;
		background-color: hsl(var(--surface-hsl) / 0.8);
		border-block-end: 1px solid var(--stroke);
		backdrop-filter: blur(12px);
		transition: background-color 300ms;
	}

	@media screen and (min-width: 768px) {
		.header {
			position: sticky;
			inset-block-start: 24px;
			column-gap: 20px;
			inline-size: fit-content;
			margin-inline: auto;
			border: 1px solid var(--stroke);
			border-radius: 12px;
		}
	}

	@media (hover: hover) {
		.animalogo {
			transition: opacity 300ms;
		}

		.animalogo:hover {
			opacity: 0.7;
		}
	}
</style>
