---
import DresanAnimalogo from "./SVG/DresanAnimalogo.astro"
import ContactButton from "./ContactButton.astro"
import ThemeToggle from "./ThemeToggle.astro"
---

<header class="header">
	<a href="#inicio">
		<DresanAnimalogo class="animalogo" />
	</a>

	<nav>
		<ul class="nav-list">
			<li>
				<a class="nav-link" href="#inicio">Inicio</a>
			</li>
			<li>
				<a class="nav-link" href="#proyectos">Proyectos</a>
			</li>
			<li>
				<a class="nav-link" href="#sobre mí">Sobre mí</a>
			</li>
			<li>
				<ContactButton />
			</li>
		</ul>
	</nav>

	<ThemeToggle />
</header>

<style>
	.animalogo {
		transition: opacity 300ms;
	}

	.animalogo:hover {
		opacity: 0.7;
	}

	.header {
		position: fixed;
		inset-block-start: 24px;
		inset-inline: 0;
		z-index: 10;
		display: flex;
		align-items: center;
		column-gap: 20px;
		inline-size: fit-content;
		padding: 8px 24px;
		margin-inline: auto;
		font-weight: 500;
		border: 1px solid var(--stroke);
		border-radius: 12px;
		background-color: hsl(var(--surface-hsl) / 0.8);
		backdrop-filter: blur(12px);
		transition: background-color 300ms;
	}

	.nav-list {
		display: flex;
		align-items: center;
		column-gap: 16px;
		padding-inline-start: 0;
	}

	.nav-list li {
		list-style: none;
	}

	.nav-link {
		padding: 4px 20px;
		color: hsl(var(--text-hsl) / 0.7);
		transition: color 300ms;
	}

	.nav-link:hover {
		color: initial;
	}
</style>
