---
interface Props extends astroHTML.JSX.AnchorHTMLAttributes {
	showArrow?: boolean
}

const { class: className, showArrow = false, ...props } = Astro.props
---

<a class:list={["link", className]} {...props}>
	<slot />
	{
		showArrow && (
			<svg
				class="arrowIcon"
				xmlns="http://www.w3.org/2000/svg"
				width="16"
				height="16"
				viewBox="0 0 16 16"
				fill="none"
			>
				<path
					fill="currentColor"
					d="M7.28033 3.21967C6.98744 2.92678 6.51256 2.92678 6.21967 3.21967C5.92678 3.51256 5.92678 3.98744 6.21967 4.28033L7.28033 3.21967ZM11 8L11.5303 8.53033C11.8232 8.23744 11.8232 7.76256 11.5303 7.46967L11 8ZM6.21967 11.7197C5.92678 12.0126 5.92678 12.4874 6.21967 12.7803C6.51256 13.0732 6.98744 13.0732 7.28033 12.7803L6.21967 11.7197ZM6.21967 4.28033L10.4697 8.53033L11.5303 7.46967L7.28033 3.21967L6.21967 4.28033ZM10.4697 7.46967L6.21967 11.7197L7.28033 12.7803L11.5303 8.53033L10.4697 7.46967Z"
				/>
				<path
					class="arrowStick"
					stroke="currentColor"
					d="M1.75 8H11"
					stroke-width="1.5"
					stroke-linecap="round"
				/>
			</svg>
		)
	}
</a>

<style>
	.link {
		position: relative;
		display: inline-flex;
		align-items: center;
		column-gap: 4px;
		font-weight: 500;
	}

	.link::before {
		content: "";
		position: absolute;
		inset-block-end: -1px;
		inline-size: 100%;
		block-size: 2px;
		background-color: var(--brand-fill);
		transform: scaleX(0);
		transition: transform 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
		transform-origin: right;
	}

	.link:hover::before {
		transition-timing-function: ease;
		transform-origin: left;
		transform: scaleX(1);
	}

	.arrowIcon {
		transform: translateX(0);
		transition: transform 0.2s;
	}

	.link:hover .arrowIcon {
		transform: translateX(4px);
	}

	.arrowStick {
		stroke-dasharray: 10;
		stroke-dashoffset: 10;
		transition: stroke-dashoffset 300ms;
	}

	.link:hover .arrowStick {
		stroke-dashoffset: 20;
	}
</style>
