---
import MobileNavLinks from "./MobileNavLinks.astro"
import DesktopNavLinks from "./DesktopNavLinks.astro"
import ContactModal from "~/components/ContactButton.astro"
import ThemeToggle from "~/components/ThemeToggle.astro"
---

<div class="menu">
	<nav class="nav">
		<ul class="nav-list">
			<MobileNavLinks />
			<DesktopNavLinks />
			<li>
				<ContactModal contentClass="contact-button-content" />
			</li>
		</ul>
	</nav>

	<ThemeToggle class="theme-toggle" />
</div>

<button aria-label="Abrir menú" type="button" class="menu-button">
	<span class="button-line"></span>
	<span class="button-line"></span>
</button>

<style>
	.menu,
	.nav-list {
		display: flex;
		align-items: center;
	}

	.menu {
		column-gap: 20px;
	}

	.nav-list {
		column-gap: 16px;
	}

	.menu-button {
		display: none;
	}

	@media screen and (max-width: 767px) {
		.menu {
			position: fixed;
			inset-inline: 0;
			inset-block-start: var(--header-block-size);
			flex-direction: column;
			row-gap: 32px;
			block-size: calc(100dvh - var(--header-block-size));
			background-color: var(--surface);
			overflow-y: auto;
			visibility: hidden;
			transform: translateX(100%);
		}

		.menu.open {
			visibility: visible;
			transform: translateX(0);
		}

		.nav {
			margin-block-start: auto;
		}

		.nav-list {
			flex-direction: column;
			row-gap: 16px;
		}

		.contact-button-content {
			padding: 10px 24px;
			font-size: 1.1rem;
		}

		.theme-toggle {
			margin-block-end: auto;
		}

		.menu-button {
			--size: 32px;
			display: flex;
			flex-direction: column;
			row-gap: 8px;
			justify-content: center;
			align-items: center;
			inline-size: var(--size);
			block-size: var(--size);
		}

		.button-line {
			inline-size: 80%;
			block-size: 3px;
			border-radius: 2px;
			background-color: currentColor;
			transform-origin: 7px;
		}

		.menu.open ~ .menu-button > .button-line:nth-child(1) {
			transform: rotateZ(45deg) translate(2px);
		}

		.menu.open ~ .menu-button > .button-line:nth-child(2) {
			transform: rotateZ(-45deg) translate(2px);
		}

		@media (orientation: landscape) {
			.menu {
				padding-block: 100px;
			}
		}

		@media (prefers-reduced-motion: no-preference) {
			.menu {
				opacity: 0;
				transition:
					visibility,
					opacity,
					transform cubic-bezier(0.4, 0, 0.2, 1),
					background-color;
				transition-duration: 300ms;
			}

			.menu.open {
				opacity: 1;
			}

			.button-line {
				transition: transform 300ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
			}
		}
	}
</style>

<script>
	import { $ } from "~/utils"

	const menu = $(".menu")!
	const menuButton = $(".menu-button")!

	menuButton.addEventListener("click", () => {
		menu.classList.toggle("open")
		document.body.classList.toggle("menu-hide-overflow")
	})
</script>
