---
import ContactButton from "./ContactButton.astro"
import ThemeToggle from "./ThemeToggle.astro"
---

<div class="menu">
	<nav class="nav">
		<ul class="nav-list">
			<li>
				<a class="nav-link" href="#inicio">Inicio</a>
			</li>
			<li>
				<a class="nav-link" href="#proyectos">Proyectos</a>
			</li>
			<li>
				<a class="nav-link" href="#sobre mí">Sobre mí</a>
			</li>
			<li>
				<ContactButton contentClass="contact-button-content" />
			</li>
		</ul>
	</nav>

	<ThemeToggle class="theme-toggle" />
</div>

<button aria-label="Abrir menú" type="button" class="menu-button">
	<span class="button-line"></span>
	<span class="button-line"></span>
</button>

<style>
	.menu {
		display: flex;
		align-items: center;
		column-gap: 20px;
	}

	.nav-list {
		display: flex;
		align-items: center;
		column-gap: 16px;
		padding-inline-start: 0;
	}

	.nav-list li {
		list-style: none;
	}

	.nav-link {
		padding: 4px 20px;
		font-weight: 500;
	}

	.menu-button {
		display: none;
	}

	@media screen and (max-width: 767px) {
		.menu {
			--header-block-size: 57px;
			position: absolute;
			inset-inline: 0;
			inset-block-start: var(--header-block-size);
			flex-direction: column;
			overflow-y: auto;
			row-gap: 32px;
			block-size: calc(100dvh - var(--header-block-size));
			padding-block: 100px;
			background-color: var(--surface);
			visibility: hidden;
			opacity: 0;
			transition:
				visibility ease-in-out,
				opacity ease-in-out,
				background-color;
			transition-duration: 300ms;
		}

		.menu-active {
			visibility: visible;
			opacity: 1;
		}

		.nav {
			margin-block-start: auto;
		}

		.nav-list {
			flex-direction: column;
			row-gap: 16px;
		}

		.nav-link {
			font: 700 2.4rem var(--font-clash-display);
		}

		.contact-button-content {
			padding: 10px 24px;
			font-size: 1.1rem;
		}

		.theme-toggle {
			margin-block-end: auto;
		}

		.menu-button {
			--size: 32px;
			display: flex;
			flex-direction: column;
			row-gap: 8px;
			justify-content: center;
			align-items: center;
			inline-size: var(--size);
			block-size: var(--size);
		}

		.button-line {
			inline-size: 80%;
			block-size: 3px;
			border-radius: 2px;
			background-color: currentColor;
			transform-origin: 7px;
			transition: transform 300ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
		}

		.button-active > .button-line:nth-child(1) {
			transform: rotateZ(45deg) translate(2px);
		}

		.button-active > .button-line:nth-child(2) {
			transform: rotateZ(-45deg) translate(2px);
		}
	}

	@media (hover: hover) {
		.nav-link {
			color: hsl(var(--text-hsl) / 0.7);
			transition: color 300ms;
		}

		.nav-link:hover {
			color: var(--text-hsl);
		}
	}
</style>

<script>
	const menu = document.querySelector(".menu")!
	const menuButton = document.querySelector(".menu-button")!

	menuButton.addEventListener("click", () => {
		menu.classList.toggle("menu-active")
		menuButton.classList.toggle("button-active")
		document.body.classList.toggle("hide-overflow")
	})
</script>
