<div class="noise"></div>

<style>
	html[data-theme="light"] .noise {
		--opacity: 0.1;
	}
	html[data-theme="dark"] .noise {
		--opacity: 0.06;
	}

	.noise {
		position: fixed;
		inset: 0;
		z-index: 100;
		block-size: 100vh;
		background-image: url(/media/noise.gif);
		image-rendering: pixelated;
		background-size: 110px;
		opacity: var(--opacity);
		pointer-events: none;
	}
</style>
