---
interface Props {
	class?: string
}

const { class: className, ...props } = Astro.props
---

<div class:list={["scroller", className]} {...props}>
	<div class="scrollerInner">
		<slot />
	</div>
</div>

<style>
	.scroller {
		border-block: 1px solid var(--border-color);
		overflow-x: hidden;
	}

	.scrollerInner {
		--column-gap: 40px;
		display: flex;
		column-gap: var(--column-gap);
		inline-size: max-content;
		align-items: center;
		animation: scroll 25s linear infinite;
	}

	@keyframes scroll {
		to {
			transform: translateX(calc(-50% - (var(--column-gap) / 2)));
		}
	}
</style>
