---
import CopyEmailButton from "~/components/CopyEmailButton.astro"
---

<section id="links">
	<h2>
		<span>¿Quieres iniciar</span>
		<span>un proyecto?</span>
	</h2>

	<CopyEmailButton email="dresan.dev@gmail.com" />
</section>

<style>
	section {
		padding-block: clamp(5rem, 4.697rem + 1.294vw, 6.25rem);
	}

	h2 {
		display: flex;
		flex-direction: column;
		font-size: clamp(2.5rem, 0.68rem + 7.767vw, 10rem);
	}

	h2 > span:nth-child(2) {
		align-self: flex-end;
	}
</style>
