---
import DresanAnimalogo from "~/components/SVG/DresanAnimalogo.astro"
import Rosette from "~/components/SVG/Rosette.astro"
import MouseIcon from "~/components/SVG/MouseIcon.astro"
---

<section id="inicio" class="section">
	<h1 class="title">
		<span class="word">Dresan</span>
		<span class="word">
			Front-end
			<div class="decoration">
				<Rosette class="rosette" />
				<DresanAnimalogo class="animalogo" width="65" height="66" />
			</div>
		</span>

		<span class="word">Developer</span>
	</h1>

	<div class="bottom-area">
		<MouseIcon />
		<span>Desliza hacia abajo</span>
	</div>
</section>

<style>
	.section {
		position: relative;
		display: flex;
		align-items: center;
		min-block-size: 100dvh;
		margin-block-start: var(--inverted-wrapper-margin);
	}

	.title {
		inline-size: 100%;
		font-size: clamp(2.75rem, 1.279rem + 6.861vw, 9.375rem);
	}

	.word {
		display: flex;
		justify-content: center;
		line-height: normal;
	}

	.word:nth-child(2) {
		flex-wrap: wrap;
		column-gap: 16px;
		align-items: center;
	}

	.decoration {
		position: relative;
		inline-size: clamp(4.375rem, 3.495rem + 3.754vw, 8rem);
	}

	.rosette {
		block-size: auto;
		animation: spin 15s linear infinite;
	}

	.animalogo {
		position: absolute;
		inset: 0;
		margin: auto;
		inline-size: 51%;
		block-size: auto;
	}

	.bottom-area {
		position: absolute;
		inset-block-end: 24px;
		display: flex;
		align-items: center;
		font-size: 1.125rem;
	}

	@media screen and (max-width: 768px) {
		.title {
			padding-block: 150px;
		}
	}

	@media screen and (min-width: 425px) {
		.word:nth-child(2) {
			justify-content: flex-start;
			column-gap: 32px;
		}

		.word:nth-child(3) {
			justify-content: flex-end;
		}
	}

	@keyframes spin {
		to {
			transform: rotate(360deg);
		}
	}
</style>
