---
import { projects } from "~/data/projects"
import ProjectCard from "~/components/ProjectCard.astro"
import Section from "~/components/Section.astro"
---

<Section>
	<h2 class="title">Proyectos destacados</h2>
	<div class="projects-container">
		{projects.map((project) => <ProjectCard class="projectCard" project={project} />)}
	</div>
</Section>

<style>
	.title {
		inline-size: min-content;
		margin-inline: auto;
		text-align: center;
	}

	.projects-container {
		display: flex;
		flex-wrap: wrap;
		gap: 32px;
		max-inline-size: 1236px;
		padding-block-start: 100px;
	}

	.projectCard {
		flex: 1 1 350px;
	}
</style>
