---
import { projects } from "~/data/projects"
import ProjectCard from "~/components/ProjectCard.astro"
---

<section id="projects">
	<h2>Proyectos destacados</h2>
	<div class="projects-container">
		{projects.map((project) => <ProjectCard class="projectCard" project={project} />)}
	</div>
</section>

<style>
	section {
		max-inline-size: 1236px;
		padding-block: var(--section-padding-block);
		margin-inline: auto;
	}

	h2 {
		inline-size: min-content;
		margin-inline: auto;
		text-align: center;
	}

	.projects-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		justify-content: center;
		gap: 16px;
		padding-block-start: clamp(1.875rem, 0.813rem + 4.531vw, 6.25rem);
	}

	@media screen and (max-width: 768px) {
		.projects-container {
			grid-template-columns: 1fr;
		}
	}
</style>
