---
import { projects } from "~/data/projects"
import ProjectCard from "~/components/ProjectCard.astro"
---

<section id="proyectos" class="section">
	<h2 class="title">Proyectos destacados</h2>
	<div class="projects-container">
		{projects.map((project) => <ProjectCard class="projectCard" project={project} />)}
	</div>
</section>

<style>
	.section {
		max-inline-size: 1236px;
		padding-block: var(--section-padding-block);
		margin-inline: auto;
	}

	.title {
		inline-size: min-content;
		margin-inline: auto;
		text-align: center;
	}

	.projects-container {
		display: flex;
		flex-wrap: wrap;
		gap: 32px;
		padding-block-start: clamp(1.875rem, 0.813rem + 4.531vw, 6.25rem);
	}

	.projectCard {
		flex: 1 1 350px;
	}
</style>
