---
import TextScroller from '~/components/TextScroller.astro';
---

<section>
  <TextScroller>
    <span>askmd</span>
    <span>askmd</span>
    <span>askmd</span>
    <span>askmd</span>
    <span>askmd</span>
    <span>askmd</span>
    <span>askmd</span>
    <span>askmd</span>
    <span>askmd</span>
    <span>askmd</span>
    <span>askmd</span>
    <span>askmd</span>
    <span>askmd</span>
    <span>askmd</span>
    <span>askmd</span>
    <span>askmd</span>
    <span>askmd</span>
    <span>askmd</span>
    <span>askmd</span>
    <span>askmd</span>
    <span>askmd</span>
    <span>askmd</span>
    <span>askmd</span>
    <span>askmd</span>
    <span>askmd</span>
    <span>askmd</span>
    <span>askmd</span>
    <span>askmd</span>
    <span>askmd</span>
    <span>askmd</span>
    <span>askmd</span>
    <span>askmd</span>
    <span>askmd</span>
    <span>askmd</span>
    <span>askmd</span>
    <span>askmd</span>
    <span>askmd</span>
    <span>askmd</span>
  </TextScroller>
</section>