---
import TextScroller from "~/components/TextScroller.astro"

const SKILLS = [
	"Git",
	"Typescript",
	"Javascript",
	"CSS",
	"HTML",
	"TailwindCSS",
	"ReactJS",
	"NodeJS",
	"AstroJS",
	"MongoDB",
	"PostgreSQL",
	"ExpressJS",
]
---

<section>
	<h2>Tecnologías</h2>
	<TextScroller class="text-scroller">
		{SKILLS.map((skill) => <span>{skill}</span>)}
	</TextScroller>
</section>

<style>
	section {
		padding-block: clamp(7.5rem, 6.893rem + 2.589vw, 10rem);
		margin-inline: calc(var(--inline-space) * -1);
		transition: background-color 300ms;
	}

	h2 {
		max-inline-size: 1236px;
		padding-inline-start: var(--inline-space);
		margin: 0 auto 30px;
		font-size: 1rem;
		font-weight: 500;
		text-transform: uppercase;
	}

	.text-scroller {
		padding-block: clamp(1rem, 0.757rem + 1.036vw, 2rem);
		border-block: 1px solid var(--stroke);
		font-size: clamp(1.875rem, 1.602rem + 1.165vw, 3rem);
		font-weight: 500;
		line-height: normal;
		transition: background-color 300ms;
	}

	.text-scroller:hover {
		color: var(--brand-fill);
		background-color: var(--text);
	}
</style>
